<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
</head>
<body>
 <form action="" method="POST">
        {%csrf_token%}
        Username<input type="text" name="name"><br>
        Url<input type="text" name="url"><br>
        <label for="url_type">Url Type:</label>
  <select id="url_type" name="url_type">
    <option value="Phishing">Phishing</option>
    <option value="Legitimate">Legitimate</option>
  </select>
        <input type="submit" value="Submit"><br>
    </form>
</body>
</html>